/* Global CSS Variables */
:root {
	--tab-main-tab-color: #eefca5;
}

/*- Title that displays above the table -*/
#list_title {
	margin-top: 10px;
	font-weight: bold;
	font-family: 'arial';
}

ul {
	list-style-type:  none;
}

/*- The header of the app -*/
#page-header {
	margin-bottom: 0px;
	padding-bottom: .05em;
	text-align: center;
	font-family: 'arial';
	font-size: 200%;
}

.lists {
	padding-left: 0;
	margin-top: 0;
}

.list {
	padding-left: 1em;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #c3c7ae;
}

/***** list tables ******/
/* general table element changes*/
table.listTable, tr.listTR, th.listTH, td.listTD {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	margin: 5px 3px 5px 3px;
	width: auto;
	background-color: #f3f7dd;
}

td.listTD {
	text-align: left;
}

td.listTD, th.listTH {
	padding: 10px 5px 10px 5px;
}

/* Checkbox Column */ 
td.checkCol {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	vertical-align: center;
}

/* New Item row */
td.newItemTD {
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	padding:5px 5px 5px 5px;
	background-color: #f3f7dd;
	border-top-width: 2px;
}

th.listTH {
	text-align: center;
	vertical-align: center;
}

th.formTH {
	text-align: left;
}

table.formTable {
	margin-bottom: 20px;
}

.cellListData {
	padding: 5px 5px;
}

#formSeperator {
	border-style: solid;
	border-width: 1px;
}

#newListForm {
	margin-top: 15px;
}

input[type=text] {
	border-color: #f3f7dd;
	background-color: #f3f7dd;
}

td > input[type=text] {
	width: 95%;
}

td.corner-symbol {
	font-size: 20px;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	vertical-align: center;
	border-top-width: 2px;
}

input[type=submit].toggleBtn {
	margin-bottom: 20px;
}

.tab-selector {
	padding-left: 0px;
	margin-bottom: 0px;
}

.tab-selector > li{
	border-style: solid;
	border-width: 1px;
	border-radius: 6px 6px 0 0;
	padding: 5px 20px 0px 20px;
	display: inline;
	background-color: var(--tab-main-tab-color);
}

.tab-selector > li.active {
	background-color: #e4fca5;
}

.tab {
	padding: 30px 30px 30px 30px;
	border-width: 1px;
	border-style: solid;
	background-color: var(--tab-main-tab-color);
	border-radius: 0px 6px 6px 6px;
}

.ng-valid.ng-dirty {
	border-color: #78FA89
}

.bar {
  fill: blue;
}

.bar:hover {
  fill: blue;
}

.axis--x path {
  display: none;
}

