.tab-selector {
  padding-left: 0px;
  padding-bottom: 0px;

  margin: 2em 0 0 0;
  li {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px 6px 0 0;
    padding: 5px 20px 0px 20px;
    display: inline;
    background-color: #eefca5;
    border-bottom-style: none
  }
}

.tab-selector > li.active {
  background-color: #eefca5;
  border-bottom: thick solid #eefca5;
}
