<form name="listSetForm{{$index}}" novalidate id="listsForm">
  <li id="titleListItem">
    <label id="list_title">{{$ctrl.list.title}}</label>
    <input type="submit" 
      name="btnDelete" 
      ng-click="$ctrl.removeList()($ctrl.list)" 
      value="Delete List" />
    <table class="listTable">
      <tr class="listTR">
        <th class="listTH">&#10003;</th>
        <th class="listTH">Title</th>
        <th class="listTH">Description</th>
        <th class="listTH">Remove</th>
      </tr>
      <tr class="list" 
        ng-repeat="listItem in $ctrl.list.listItems" 
        ng-hide="listItem.completed===true">
        <td class="checkCol">
          <input type="checkbox" 
            id="chkIsSelected" 
            ng-checked="{{listItem.isSelected}}" 
            ng-model="listItem.isSelected"
            ng-click="$ctrl.updateListItem()($ctrl.list, listItem)" />
        </td>
        <td class="listTD"><label class="cellListData">{{listItem.title}}</label></td>
        <td class="listTD"><label class="cellListData">{{listItem.description}}</label></td>
        <td class="listTD">
          <a href ng-click="$ctrl.removeListItem()($ctrl.list, listItem)">remove</a>
        </td>
      </tr>
      <tr>
        <td class="corner-symbol">+</td>
        <td class="newItemTD">
          <input type="text" name="txtTitle" ng-model="newItem.title" required>
        </td>
        <td class="newItemTD">
          <input type="text" name="txtDesc" ng-model="newItem.description" required>
        </td>
        <td class="newItemTD">
          <input type="submit"
            class="newItemBtn"
            name="btnNewItem" 
            ng-disabled="listSetForm.$invalid"
            ng-click="$ctrl.addListItem()($ctrl.list, newItem)" />
        </td>
      </tr>
    </table>
  </li>
  <input type="submit" 
    name="setCompletedBtn"
    class="toggleBtn"  
    ng-click="$ctrl.toggleCompleted()($ctrl.listType, $ctrl.list)" 
    value="Move to Completed" />
  <span class="error-notification" 
    ng-if="listSetForm.txtTitle.$invalid && listSetForm.txtTitle.$dirty || listSetForm.txtDesc.$invalid && listSetForm.txtDesc.$dirty">
    Please include a valid title and description.
  </span>
</form>