@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');

#page-header {
  margin-bottom: 0px;
  padding-bottom: .05em;
  text-align: center;
  font-family: 'arial';
  font-size: 200%;
}

body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #c3c7ae;
}
