<!DOCTYPE html>
<form name="newListForm"
      class="list-form"
      ng-submit="$ctrl.addList({listTitle:$ctrl.listTitle});
      $ctrl.setFocus({id:$ctrl.listTitle + '-txt-add-title'});
      newListForm.$setPristine();"
      novalidate>
    <label>New List Title: </label>
    <input type="text"
           name="listTitle"
           class="txtListTitle"
           ng-model="$ctrl.listTitle"
           required />
    <input type="submit"
           value="Submit" />
</form>

<!-- $ctrl.setFocus($ctrl.listTitle + '-txt-add-title'); -->
