<!DOCTYPE html>
<form name="newListForm"
      class="list-form"
      ng-submit="$ctrl.addNewList($ctrl.listTitle);
      $ctrl.setFocus()($ctrl.listTitle + '-txt-add-title');
      newListForm.$setPristine();"
      novalidate>
      <!-- ng-submit="newListForm.$valid
                && $ctrl.addNewList($ctrl.listTitle)
                && newListForm.$setPristine()" -->
    <label>New List Title: </label>
    <input type="text"
           name="listTitle"
           class="txtListTitle"
           ng-model="$ctrl.listTitle"
           required />
    <input type="submit"
           value="Submit" />
</form>

<!-- $ctrl.setFocus(listTitle+'-item-title-edit0'); -->
