.list-form {
  display: inline;
  padding-bottom: 40px;
  input[type=text] {
    width: 40%;
    margin-left: 1em;
    margin-right: 0px;
    padding-right: 0px;
  }
  input[type=submit] {
    margin-left: 0;
  }
}
