<!DOCTYPE html>
<list-tables
  lists="$ctrl.lists"
  list-type="$ctrl.listType"
  incomplete-filter="$ctrl.incompleteFilter"
  add-list-item="$ctrl.addListItem(list)"
  remove-list="$ctrl.removeList(list)"
  remove-list-item="$ctrl.removeListItem(list, listItem)"
  update-list-item="$ctrl.updateListItem(list, listItem)"
  toggle-completed="$ctrl.toggleCompleted(listType, list)"
  copy-list-item="$ctrl.copyListItem(listItem)"
  toggle-edit="$ctrl.toggleEdit(num, list, listItem)"
  toggle-visible="$ctrl.toggleVisible(list)"
  set-focus="$ctrl.setFocus(id)">
</list-tables>
<div ng-hide="$ctrl.listType==='completed'">
  <div id="formSeperator"></div>
  <div id="newListForm">
    <new-list-form
      set-focus="$ctrl.setFocus(id)"
      list-title="$ctrl.listTitle"
      add-list="$ctrl.addList(listTitle)">
    </new-list-form>
  </div>
</div>
