<!DOCTYPE html>
<div class="row pad-top">
  <h4 ng-if="$ctrl.list.visible" class="col-sm-6 col-6 pull-left">{{$ctrl.list.title}}</h4>
  <div class="btn-group-sm col-sm-6 col-6 pull-right text-right" ng-switch="$ctrl.list.visible">
    <button ng-switch-when="true"
            ng-click="$ctrl.toggleVisible({list:$ctrl.list})"
            class="btn btn-primary glyphicon glyphicon-collapse-up dark"
            alt="collapse">
    </button
    ><button ng-switch-when="false"
             ng-click="$ctrl.toggleVisible({list:$ctrl.list})"
             class="btn btn-primary dark"
             alt="$ctrl.list.title">{{$ctrl.list.title}}
             <span ng-if="$ctrl.listType==='incomplete'" class="badge">
               {{($ctrl.list.listItems|filter:{completed:false}).length}}
             </span>
    </button
    ><button ng-switch-when="undefined"
             ng-click="$ctrl.toggleVisible({list:$ctrl.list})"
             class="btn btn-primary glyphicon glyphicon-collapse-up dark">
    </button
    ><button ng-if="$ctrl.listType==='incomplete' && $ctrl.list.visible"
             class="btn btn-default glyphicon glyphicon-trash dark"
             ng-click="$ctrl.removeList({list:$ctrl.list})"
             alt="delete list">
    </button>
  </div>
</div>
<div ng-if="$ctrl.list.visible === true">
  <!-- If listType is Completed and the is at least one item -->


  <div class="row table-bordered">
    <div ng-if="$ctrl.listType==='completed'
           && ($ctrl.list.listItems|filter:{completed:true}).length>0">
      <div class="hidden-xs">
        <header class="col-xs-3 col-sm-3 col-3"><strong>List Item</strong></header>
        <header class="col-xs-7 col-sm-7 col-7"><strong>Description</strong></header>
        <header class="col-xs-4 col-sm-3 col-2">&nbsp</header>
      </div>
    </div>
    <div ng-if="$ctrl.listType==='incomplete'">
      <div class="hidden-xs">
        <header class="col-xs-3 col-sm-3 col-3"><strong>List Item</strong></header>
        <header class="col-xs-7 col-sm-7 col-7"><strong>Description</strong></header>
        <header class="col-xs-4 col-sm-2 col-2">&nbsp</header>
      </div>
    </div>
    <div class="col-sm-12"
         ng-if="$ctrl.listType==='completed'
         && ($ctrl.list.listItems|filter:{completed:true}).length===0">
      No Completed Items for this List.
      <br>{{($ctrl.list.listItems|filter:completed:true).length}}
      items left to complete.
    </div>
  </div>

    <!-- Display listItems if they match the listType -->

  <div class="row table-bordered"
       ng-repeat="listItem in $ctrl.list.listItems"
       ng-hide="listItem.completed===true && $ctrl.listType==='incomplete'
        || listItem.completed===false && $ctrl.listType==='completed'">

    <!-- Remove ListItem/Toggle Completed -->

    <!-- Title shown as either:
        1)As Text if not editing.
        2)Textbox if editing. (updates on blur) -->
    <p href class="col-xs-6 col-sm-3"
            ng-if="listItem.editingTitle === false"
            ng-click="$ctrl.toggleEdit({num:1, list:$ctrl.list, listItem:listItem});
            $ctrl.copyListItem({listItem:listItem});
            $ctrl.setFocus({id:$ctrl.list.title + '-item-title-edit' + $index});">
      <label class="visible-xs-inline">Title:&nbsp
      </label>{{listItem.title}}
    </p>
    <input class="col-xs-12 col-sm-3 cell"
           ng-if="listItem.editingTitle === true"
           type="text" id="{{$ctrl.list.title}}-item-title-edit{{$index}}"
           name="txtEditTitle"
           value="{{listItem.title}}"
           ng-model="listItem.title"
           ng-blur="$ctrl.toggleEdit({num:1, list:$ctrl.list, listItem:listItem});" />
     <div class="btn-group-lg pull-right text-right btn-controls visible-sm visible-xs col-xs-4 col-sm-2 col-2">
       <button class="btn-danger glyphicon glyphicon-remove text-center dark"
               ng-click="$ctrl.removeListItem({list:$ctrl.list, listItem:listItem});">
       </button
       ><button class="btn-success glyphicon glyphicon-ok dark"
                ng-click="$ctrl.toggleCompleted({listItem:listItem});">
       </button>
     </div>   
  <!-- Description shown as either:
    1)Text if not editing.
    2)Textbox if editing (updates on blur) -->
    <p href class="col-xs-12 col-sm-7 col-7 desc"
            id="desc-edit{{$index}}"
            ng-if="listItem.editingDesc !== true && listItem.description.length>0"
            ng-click="$ctrl.toggleEdit({num:2, list:$ctrl.list, listItem:listItem});
              $ctrl.copyListItem({listItem:listItem});
              $ctrl.setFocus({id:$ctrl.list.title + '-item-desc-edit' + $index});"
            class="cellListData">
      <label class="visible-xs-inline">Desc:&nbsp
      </label>{{listItem.description}}
    </p>
    <input class="col-xs-12 col-sm-7 col-7 desc"
           ng-if="listItem.editingDesc === true"
           type="text" id="{{$ctrl.list.title}}-item-desc-edit{{$index}}"
           name="txtEditDesc"
           value="{{listItem.description}}"
           ng-model="listItem.description"
           ng-blur="$ctrl.toggleEdit({num:2, list:$ctrl.list, listItem:listItem});" />
     <div class="btn-group-lg pull-right text-right btn-controls hidden-xs hidden-sm col-xs-4 col-sm-2 col-2">
       <button class="btn-danger glyphicon glyphicon-remove text-center dark"
               ng-click="$ctrl.removeListItem({list:$ctrl.list, listItem:listItem});">
       </button
       ><button class="btn-success glyphicon glyphicon-ok dark"
                ng-click="$ctrl.toggleCompleted({listItem:listItem});">
       </button>
     </div>
  </div>

    <!-- Row for new List Items. Row hidden when completed list -->
  <div ng-hide="$ctrl.listType==='completed'" class="row">
    <form name="listSetForm{{$index}}"
          id="listsForm"
          ng-submit="listSetForm.$valid
            && $ctrl.addListItem($ctrl.list);
          listSetForm.$setPristine();
          $ctrl.setFocus({id:$ctrl.list.title + '-txt-add-title'});"
          class="form-group form-inline col-sm-12" novalidate>
      <div class="input-group input-group-sm col-xs-12 col-sm-3 col-3">
        <label for="{{$ctrl.list.title}}-txt-add-title" class="input-group-addon">Title:&nbsp</label>
        <input class="title form-control"
               type="text"
               id="{{$ctrl.list.title}}-txt-add-title"
               name="txtTitle"
               ng-model="$ctrl.list.newItem.title"
               required>
      </div
      ><div class="input-group input-group-sm col-xs-12 col-sm-9 col-9">
        <span for="desc" class="input-group-addon">Desc:</span>
        <input type="text"
               class="form-control"
               id="desc"
               name="txtDesc"
               ng-model="$ctrl.list.newItem.description"
               required>
        <div class="input-group-btn">
          <button class="btn btn-secondary glyphicon glyphicon-plus"
                  id="submit-button"
                  type="submit"
                  ng-disabled="!listSetForm.$valid"></button>
        </div>
      </div>
    </form>
  </div>
  <!-- Message if listType is completed and there are no more items left -->
  <p ng-if="$ctrl.listType==='incomplete'
    && ($ctrl.list.listItems|filter:{completed:false}).length===0
    && $ctrl.list.isNew===false">No items left to complete. Please add more items.</p>

  <!-- Form validation text -->
  <span class="error-notification"
    ng-if="listSetForm.txtTitle.$invalid
      && listSetForm.txtTitle.$dirty
      || listSetForm.txtDesc.$invalid
      && listSetForm.txtDesc.$dirty">
    Please enter a valid title and description.
  </span>
</div>
