#listsForm {
  margin-bottom: 1em;
}

.error-notification {
  color: red;
}

ul {
  list-style-type:  none;
  li {
      margin-top: 10px;
      font-family: 'arial';
    .display-inline {
      display: inline;
      #toggle-visible {
        a {
          float:left;
          margin-right: .5em;
          text-decoration: none;
          font-weight: lighter;
        }
        a:hover {
          color: blue;
        }
      }
    }
  }
}

table.listTable, tr.listTR, th.listTH, td.listTD {
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  margin: 5px 3px 5px 3px;
  width: auto;
  background-color: #f3f7dd;
}

td {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  &.listTD {
    text-align: left;
  }
  &.title {
    min-width: 100px;
  }

  /* Checkbox Column */
  &.checkCol {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: center;
  }

  &.corner-symbol {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: center;
    border-top-width: 2px;
  }

  /* New Item row */
  &.newItemTD {
    padding:5px 5px 5px 5px;
    background-color: #f3f7dd;
    border-top-width: 2px;
  }
}

td.listTD, th.listTH {
  padding: 10px 5px 10px 5px;
}

th {
  &.listTH {
    text-align: center;
    vertical-align: center;
  }
  &.formTH {
    text-align: left;
  }
  &#list_title {
    text-align: center;
  }
}

input[type=text] {
	border-color: #f3f7dd;
	background-color: #f3f7dd;
  width: auto;

  &#title.ng-dirty.ng-invalid {
    outline-color: red;
  }
  &#desc.ng-dirty.ng-invalid {
    outline-color: red;
  }
  &#title.ng-dirty.ng-valid {
    outline-color: green;
  }
  &#desc.ng-dirty.ng-valid {
    outline-color: green;
  }
}
