

input[type=text] {
  &#desc.ng-dirty.ng-valid {
    outline-color: green;
  }
  &#desc.ng-dirty.ng-invalid {
    outline-color: red;
  }
  &.title.ng-dirty.ng-valid {
    outline-color: green;
  }
  &.title.ng-dirty.ng-invalid {
    outline-color: red;
  }
}

.inline-group {
  display: inline;
}

p {
  margin-bottom: 0;
  margin-top: 2px;
}

.row {
  padding-top: 3px;
  padding-bottom: 3px;
}

.btn.default.dark {
  margin-right: 0;
}

.btn-primary.dark {
  background-color: #303030;
  border: white;
}

.btn-success.dark {
  background-color: #303030;
}

.btn-danger.dark {
  background-color: #303030;
}

.pad-right {
  padding-right: 15px;
}

.row.pad-top {
  padding-top: 5px;
  border-top: solid 1px #888888;
  border-bottom: solid 1px #888888;
}
